<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.silentstone.siyuansearch</string>
	<key>connections</key>
	<dict>
		<key>6BD44F7D-508B-457A-B294-54067B090028</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F3D8A39-5B83-4DEE-9F76-CCCAC95731B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>SilentStone</string>
	<key>description</key>
	<string>思源笔记</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SiYuan</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>搜索中...</string>
				<key>script</key>
				<string>python3 search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Note Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BD44F7D-508B-457A-B294-54067B090028</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4F3D8A39-5B83-4DEE-9F76-CCCAC95731B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>需要先配置好端口，在设置-&gt;关于-&gt;用浏览器打开中查看端口号
usage: sy xx</string>
	<key>uidata</key>
	<dict>
		<key>4F3D8A39-5B83-4DEE-9F76-CCCAC95731B5</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>6BD44F7D-508B-457A-B294-54067B090028</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>输入web端端口号，可以在设置-&gt;关于-&gt;在浏览器上使用看到</string>
			<key>label</key>
			<string>port</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>port</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
